.head {
  background-color: rgb(173, 163, 206);
  padding: 1.5rem;
  display: flex;
  color: var(--text-color);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  img {
    height: 30px;
    width: 30px;
  }
}

.appName {
  cursor: pointer;
  font-family: "Bangers";
  letter-spacing: 1px;
  gap: 1rem;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  button {
    font-size: var(--small-font-size);
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
}

ul button:hover {
  border-bottom: 2px solid aliceblue;
}

ul button:active {
  color: skyblue;
}

@media screen and (max-width: 450px) {
  .head {
    font-size: 16px;

    h2 {
      font-size: larger;
    }
    a {
      font-size: medium;
    }
    img {
      display: none;
    }
    .appName {
      gap: 0.2rem;
    }
  }
}
