.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0.75rem 1.5rem;

  background-color: rgb(180, 193, 234);
  font-size: var(--medium-font-size);
  width: 100%;
}

.footer a {
  cursor: pointer;
  color: rgb(91, 86, 86);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.stackUsed {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  color: rgb(91, 86, 86);
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topIcon {
  width: 2rem;
  height: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease-out;
  filter: invert(99%) sepia(1%) saturate(2975%) hue-rotate(190deg)
    brightness(94%) contrast(108%);
}

.footerlink:hover {
  transform: scale(0.95);
}

.footerlink:hover .icon {
  transform: rotate(360deg);
}

.topShoutout {
  font-size: var(--small-font-size);
}

@media screen and (max-width: 722px) {
  .footer {
    flex-direction: column;

    padding: 1.5rem 0;
    text-align: center;
    gap: 2rem;
  }

  .stackUsed,
  .sourceCredit {
    flex: none;
    justify-content: center;
    width: fit-content;
  }

  .sourceCredit {
    gap: 1.5rem;
  }
}
