main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contianer {
  margin: 5rem;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mangaPreview {
  font-size: var(--large-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mangaDetailContainer {
  align-self: flex-start;
  display: flex;

  flex-direction: column;
  justify-content: center;

  gap: 3rem;
  padding-top: 5rem;
  font-size: vaR(--medium-font-size);
  p {
    text-wrap: balance;
    overflow-wrap: break-word;
  }
}
.contianerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgb(180, 193, 234);
  padding: 3rem;
  border: 1px solid grey;
}

.updateContainer {
  width: 100%;
  display: flex;
  gap: 2rem;
  button {
    flex: 0.3;
    height: 3rem;
  }
}

button {
  cursor: pointer;
}

.mangaStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 30px;
  }
}

@media screen and (max-width: 760px) {
  h1,
  h2 {
    font-size: 26px;
  }
  .contianerBox {
    padding-top: 3rem;
    flex-direction: column;
    font-size: var(--small-font-size);
  }

  .mangaDetailContainer {
    padding-top: 1rem;
  }

  .contianer {
    padding: 0;
    margin: 0;
  }

  .updateContainer {
    button {
      flex: 0.4;
      height: 2rem;
    }
  }
}
